{% extends 'base.html' %}

{% block title %} Duplicate Instance {% endblock %}

{% block body %}

<h1>All the Instances</h1>


<div class="row mt-2 mb-2">

    <div class="col-6 bg-dark">
        <div class="row mt-2 mb-2">
            <div class="col-3 bg-dark text-white"></div>

                <div class="p-3 col-6 bg-info text-white">
                        <form actions="duplicateinstance" method="post" class="">
                            {% csrf_token %}
                            <h5>{{instance.name}}</h5><br>
                            <h5>{{instance.ami}}</h5><br>
                            <h5>{{instance.instancetype}}</h5><br>
                            <h5>{{instance.netint}}</h5><br>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                <div class="col-3 bg-dark text-white"></div>
                <hr><br><hr><br><hr><br>
        </div>
    </div>
    <div class="col-6 bg-dark">
        <div class="row mt-2 mb-2">

        </div>
    </div>
</div>


<!--<div class="row mt-2 mb-2">-->
<!--    <div class="col-3 bg-dark text-white"></div>-->

<!--    <div class="p-3 col-6 bg-danger text-white">-->
<!--        <form actions="duplicateinstance" method="post">-->
<!--            {% csrf_token %}-->
<!--            <h5>{{instance.name}}</h5><br>-->
<!--            <h5>{{instance.ami}}</h5><br>-->
<!--            <h5>{{instance.instancetype}}</h5><br>-->
<!--            <button type="submit" class="btn btn-primary">Save</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div class="col-3 bg-dark text-white"></div>-->


<!--    <hr>-->
<!--    <br>-->
<!--    <hr>-->
<!--    <br>-->
<!--    <hr>-->
<!--    <br>-->





<!--</div>-->


{% endblock %}




<!--<div class="row mt-2 mb-2">-->

<!--    <div class="col-6 bg-dark">-->
<!--        <div class="row mt-2 mb-2">-->
<!--            <div class="col-3 bg-dark text-white"></div>-->

<!--                <div class="p-3 col-6 bg-info text-white">-->
<!--                    <h6>{{x.name}}</h6>-->
<!--                    <h6>{{x.ami}}</h6>-->
<!--                    <h6>{{x.instancetype}}</h6>-->
<!--                    <a href="/infra/editinstance/{{x.name}}"><button class="btn btn-success">Edit</button></a>-->
<!--                    <a href="/infra/deleteinstance/{{x.name}}"><button class="btn btn-danger">Delete</button></a>-->
<!--                    <a href="/infra/duplicateinstance/{{x.name}}"><button class="btn btn-secondary">Duplicate</button></a>-->
<!--                </div>-->
<!--                <div class="col-3 bg-dark text-white"></div>-->
<!--                <hr><br><hr><br><hr><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 bg-dark">-->
<!--        <div class="row mt-2 mb-2">-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->